*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body
{
    width: 100%;
    overflow-x: hidden;
    background-color: #efefef;
}
/* nav bar started */
nav
{
    background-color: white;
    padding: 20px 10px;
}
nav ul li
    {
        display: inline;
    }

    nav ul
    {
        display: inline;
        margin-left: 200px;
    }

    nav ul li a
    {
        text-decoration: none;
        color: gray;
        margin-left: 50px;
    }

    nav ul li a:hover
    {
        color:rgb(52, 152, 219);
    }

    .brand-logo
    {
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Oswald', sans-serif;
        margin-left: 40px;
    }
    .nav-btn
    {
        background-color: rgb(52, 152, 219);
        color: white;
        padding: 13px 20px;
        border-radius: 29px;
    }
    .nav-btn:hover
    {
        color: white;
    }
    /* banner started */
    .banner
    {
        background-color: white;
        padding: 20px;
    }
    .banner-content,.banner-image
    {
        width: 500px;
        display: inline-block;
    }
    .banner-image img
    {
        width: 100%;

    }
    .banner-content h1
    {
      font-size: 50px;

    }
    .banner-content p
    {
      font-size: 30px;
      margin-top: 25px;
      margin-bottom: 50px;
    }
    .banner-content button
    {
      border: 2px solid rgb(52, 152, 219);
      color: rgb(52, 152, 219);
      border-radius: 30px;
      padding: 10px 25px;
      background-color: transparent;
      font-size: 18px;
      transition: background-color 1s,color 1s;
    }
    .banner-content button:hover
    {
        background-color: rgb(52, 152, 219);
        color: white;
    }
    .banner-animation
    {
        animation-duration: 10s;
    }


    /* banner ended */
/* logo starts */
.logos
{
    background-color: rgb(222, 240, 247);
}

.logo-image
{
    width: 173px;
    height: 85px;
    display: inline-block;
}

.logo-image img
{
    width: 45%;
    height:45%;
    margin: 25px 45px;
    filter: grayscale(100%);
}

.logo-image img:hover
{
    filter:none ;
}
/
/* logo ends */
/* about us starts */
.aboutus
{
    margin: 50px;
}

.aboutus-content
{
    width: 600px;
    padding: 20px;
    display: inline-block;
}
.aboutus h1
{
    text-align: center;
}

.aboutus p,.aboutus li
{
    font-size: 17px;
}

.aboutus li
{
    font-size: 16px;
}
.aboutus p
{
    margin-bottom: 30px;
}
.aboutus li
{
    margin-bottom: 15px;
}
/* .main
{
    display: inline;
} */
.aboutus-content button
{
    color: #3498db;
    border-radius:30px;
    padding: 12px 50px;
    font-size: 17px;
    border: 2px solid #3498db;
    background-color: transparent;
    transition: background-color 1s,color .8s;
}

.aboutus-content button:hover
{
    color: white;
    background-color: #3498db;
}

.aboutus-content ul
{
    list-style-type: none
}

.fa-check-double
{
    color: #3498db;
}
/* about us ends */
/* bg-img starts */
.bg-img .image
{

}
.bg-img .image img
{
    width: 90%;
    margin: 20px 50px;
}

.bg-card
{
    width: 470px;
    padding: 20px;
    display: inline-block;
    margin-left: 75px;
}

.bg-img-content
{
    margin: 40px;

}

.fa-smile,.fa-envelope-open-text,.fa-clock,.fa-award
{
    font-size: 40px;
    color:#3498db;
}
.icon-head
{
    display: inline-block;
}
.pchange
{
    /* font-weight: bold; */
    display: inline-block;
    text-align: justify;
    margin-left: 30px;
    padding: 10px;
    /* border: 1px solid red; */

}

/* bg-img Ends */

/* Services Starts */

.services
{
    margin: 50px;
}

.services h1
{
    text-align: center;
}

.services .para
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.services-cards .cards
{
    height: 280px;
    width: 250px;
    padding: 20px;
    display: inline-block;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 40px 20px rgba(128, 128, 128, 0.137);
    position: relative;
    transition: background-color 3s;
}

.cards .card-content i
{
    font-size: 30px;
    height: 75px;
    width: 75px;
    background-color:#3498db;
    padding: 22px;
    border-radius: 100%;
    color: white;
}

.cards .card-content h3
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.services-cards .cards:hover i
{
    background-color: white;
    color: #3498db;
}

.div-hover
{
    background-color: rgba(52, 152, 219, 0.678);
    height: 49px;
    width: 55px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0px 10px 0px 50px;
    transition: all .5s;
    
}

.services-cards .cards:hover .div-hover
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.services-cards .cards:hover
{
    background-color:#3498db;
}

/* Services Ends */

    /* read-more starts */

    .read-more
    {
        margin: 40px;
    }
    .read-more-images
    {
       border-radius: 10px;
        height: 550px;
        width: 550px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .read-more h2
    {
        text-align: center;
    }

    .bg1
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-1.jpg");
    }

    .bg2
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-2.jpg");
    }

    .bg3
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-3.jpg");
    }

    .bg4
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-4.jpg");
    }

    .read-more-content
    {
        background-color: white;
        margin-top: 330px;
       margin-bottom: 20px;
       margin-left: 20px;
       margin-right: 20px;
       /* border: 6px solid red ; */
       padding: 30px;
    }
    .read-more-content:hover
    {
        background-color: #3498db;
        color: white;
    }
    

    
/* read-more Ends */


/* features start */
.features
{
    margin: 50px;
    /* background-color: white; */
}
.features h1,p
{
    text-align: center;
}
.features p{
    margin-top: 30px;
    margin-bottom: 30px;
    }
.features i{
    font-size: 25px;
}
.features-content
{
    /* border: 5px solid red; */
    width: 250px;
    height: 70px;
    display: inline-block;
    padding: 20px;
    background-color:#f6f6f6;
    margin-left: 30px;
    margin-bottom: 30px;
    
}
.head
{
    display: inline-block;
}
.features-content:hover
{
background-color: rgba(201, 245, 245, 0.24);
}
.icon1
{
    color: orange;
}
.icon2
{
    color: rgb(23, 161, 216);
}

.icon3
{
    color: hotpink;
}

.icon4
{
    color: plum;
}

.icon5
{
    color: blue;
}

.icon6
{
    color: orangered;
}

.icon7
{
    color: aquamarine;
}

.icon8
{
    color: blue;
}

.icon9
{
    color: burlywood;
}

.icon10
{
    color: palevioletred;
}

.icon11
{
    color: red;
}
.icon12
{
    color: lightgreen;
}


/* .main
{
    display: inline-block;
} */

/* features ends */
/* team starts */
.team-more
    {
        margin: 40px;
        position: relative;
    }
    .team
    {
        position: absolute;
        /* border: 1px solid red ; */
        background-color: white;
        margin-top: 199px;
        margin-left: 19px;
        width: 251px;
        display: inline-block;
        padding: 10px;
        padding-left: 90px;
        visibility: hidden;
       
    }
    

    .team-more:hover .team
    {
        visibility: visible;
    }
    .team-more-images
    {
       border-radius: 10px;
        height: 300px;
        width: 250px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .team-more h4
    {
        text-align: center;
    }
    .team-more .team-more-content p
    {
       color:gray;
       font: 23px;
    }
    .team-more h1{
        text-align: center;
    }
    .team-more .parr1
    {
      text-align: center;  
      margin-top: 30px;
      margin-bottom: 30px;
    }
    

    .b1
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/team/team-1.jpg");
    }

    .b2
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/team/team-2.jpg");
    }

    .b3
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/team/team-3.jpg");
    }

    .b4
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/team/team-4.jpg");
    }

    .team-more-content
    {
        background-color: white;
        border-radius: 0px 0px 10px 10px;
        margin-top: 220px;
       /* margin-bottom: 10px; */
       /* margin-left: 10px; */
       /* margin-right: 10px; */
       /* border: 6px solid red ; */
       padding: 20px;
    }
    /* .team-more-content:hover
    {
        background-color: #3498db;
        color: white;
    }
     */

     /* portfolio starts */
     .port1
     {

     }
     .port2
     {
         text-align: center;
         /* padding: 8px; */
         /* border: 1px solid blue; */
     }
     .port1 p
     {
         margin-top: 30px;
         margin-bottom: 30px;
     }
     .port3
     {
         /* border: 1px solid #3498db; */
         padding: 10px;
         margin-left: 20px;
         border-radius: 5px;
         border: none;
        
     }
     .port3:hover
     {
         color: white;
         background-color:#3498db ;
     }

     .port4
    {
       border-radius: 10px;
        height: 500px;
        width: 500px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .parent
{
    /* border: 2px solid purple; */
    width: 350px;
    height: 350px;
    position: relative;
    /* margin: 0px; */
    margin-left: 30px;
    margin-bottom: 40px;
    overflow: hidden;
}

.parent img
{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    /* transform: scale(1.1); */
}

.child
{
    background-color: gray;
    height: 0px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: visibility 2s;
    /* transition: height 2s; */
    visibility: hidden;
    opacity: 0.5;
}
.parent:hover .child
{
    height: 100%;
    visibility: visible;
    
}

.parent:hover img
{
    /* transform: translate(0px,-40px); */
    transform: scale(1.5);


}
.child h1
{
   text-align: left;
   margin-top: 140px;
   color: white;
}
.child p{
    text-align: left;
    /* margin-top: 160px; */
    margin-bottom: 20px;
}
.mainparent
{
    display: inline-block;
}
.parent{
    display: inline-block;
}
.child .i1,.i2
{
    text-align: left;
    font-size: 20px;
    /* color: #3498db; */
    color: white;


}



    .read-more h2
    {
        text-align: center;
    }

    .p1
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-1.jpg");
    }

    .p2
    {
        background-image: url("https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-2.jpg");
    }
    .p11
    {
        background-color: white;
        margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 20px;
       margin-right: 20px;
       /* border: 6px solid red ; */
       padding: 150px;
    }
    .p11:hover
    {
        background-color: #3498db;
        color: white;
    }


     /* portfolio ends */

     .price h1,p
     {
      text-align: center;
     }
     .price p{
         margin-top: 20px;
     }

     .price1
     {
         /* border: 1px solid  #3498db; */
         width: 300px;
         height: 500px;
         margin: 40px;
         background-color: white;
         display: inline-block;
         margin-left: 50px;
         border-radius: 10px;
     }
     
    .price2
    {
      text-align: center;
    }
    .price2
    {
        padding: 10px;
    }
    .price5
    {
        padding: 5px;
    }
    .price6
    {
        text-align: center;
        color:  #3498db;
        border: 2px solid  #3498db ;
        padding: 10px 30px;
        
        margin-left: 90px;
        border-radius: 30px;
        background-color:white;

    }
    .price1:hover .price6
    {
        background-color:  #3498db;
        color: white;
    }
    .price2 h3
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .price-p
    {
        display: inline-block;
        font-size: 18px;
        color: rgb(194, 192, 192);
    }
    .price4
    {
        font-size: 45px;
        color: #3498db;
        font-weight: lighter;
    }
    .price1:hover
    {
        border: 2px solid#3498db;
    }



    .qns
{
   
    text-align: center;
}

.qns-content
{
    margin: 50px;
}

.qns-ctn1
{
    width: 350px;
    margin-top: 51px;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 550;
    
}

.qns-ctns1
{
    width: 500px;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    text-align: justify;
}
.qns-ctns1 p{
    text-align: justify;
}


.qns-ctn1, .qns-ctns1
{
    display: inline-block;
    margin-left: 70px;
}

.qns-ctn2
{
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 550;
}

.qns-cnts2
{
    width: 500px;
    font-size: 16px;
}
.qns-cnts2 p{
    text-align: justify;
}

.qns-ctn2, .qns-cnts2
{
    display: inline-block;
    margin-left: 70px;
}

.qns-ctn3
{
    width: 300px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    font-size: 18px;
    font-weight: 550;
}

.qns-cnts3
{
    width: 500px;
    font-size: 16px;
}
.qns-cnts3 p{
    text-align: justify;
}

.qns-ctn3, .qns-cnts3
{
    display: inline-block;
    margin-left: 70px;
}

.qns-ctn4
{
    width: 300px;
    margin-top: 65px;
    margin-bottom: 50px;
    margin-left: 70px;
    font-size: 18px;
    font-weight: 550;
}

.qns-cnts4
{
    width: 500px;
    font-size: 16px;
}
.qns-cnts4 p
{
    text-align: justify;
}

.qns-ctn4, .qns-cnts4
{
    display: inline-block;
    margin-left: 70px;
}


.qns-ctn5
{
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 550;
}

.qns-cnts5
{
    width: 400px;
    font-size: 17px;
}
.qns-cnts5 p
{
    text-align: justify;
}

.qns-ctn5, .qns-cnts5
{
    display: inline-block;
    margin-left: 70px;
}

.fa-question-circle
{
    color:rgb(52, 152, 219) ;
}

.qns-content hr
{
    align="center" 
}

.contact
{
    text-align: center;
    margin-top:120px;
    margin-bottom:60px;
    
}

.contactus-cnt-1
{

    width: 490px;
    height: 450px;
    padding: 20px;
}

.contactus-cnt-1 p
{
    font-size: 17px;
    text-align: justify;
    color: rgb(136, 136, 136);
   
}
.contactus-cnt-1 h3
{
font-weight: bold;
margin-bottom: 10px;
font-size:28px;
}

.contactus-cnt-1 i
{
margin-top: 20px;
padding: 10px;
font-size: 20px;
border: 1px solid rgb(52, 152, 219);
border-radius: 100%;
margin-left: 5px;
color: rgb(52, 152, 219);
}
.contactus-cnt-1 i:hover
{
color: white;
background-color:rgb(52, 152, 219) ;
}
.contactus-cnt-2
{
    width: 270px;
    height: 450px;
    padding-right: 60px;
}

.contactus-cnt-2 li
{
    padding: 0 0 10px 10px;
    line-height: 28px;
    font-size: 18px;
    list-style-type: none;
   
}

.contactus-cnt-2 i
{
    color:rgb(52, 152, 219) ;
    font-size: 25px;
    font-weight: bolder;
}

.contactus-cnt-3
{
    width: 550px;
    height: 450px;
    padding:10px;
    position: absolute;
}

.contactus-cnt-3 input
{
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px;
    width: 210px;
    margin-bottom: 25px;
    margin-top: 10px;
    border: 1px solid rgb(136, 136, 136);
    outline: none;
    height: 42px;
    
}

.contactus-cnt-3 input:focus
{
border: 1px solid rgb(52, 152, 219);
}

.contactus-cnt-3 textarea[placeholder]
{
    padding: 13px;
    color: rgb(136, 136, 136);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(136, 136, 136);
}

.contactus-cnt-3 textarea[placeholder]:focus
{
    border: 1px solid rgb(52, 152, 219);
    /* width: 100px; */
}
.msg
{
    width: 250px;
}

.contactus-cnt-3 a button
{
    border-radius: 30px;
    text-align: center;
    margin: 20px auto;
    width: 150px;
    height: 45px;
    background-color:rgb(52, 152, 219) ;
    color: white;
    outline: none;
    border: 2px solid rgb(52, 152, 219);
    font-size: 16px;
    position: relative;
    left: 80px;
}

.contactus-cnt-3 a button:hover
{
    background-color:rgb(15, 140, 223) ;
}

.contactus-cnt-1 , .contactus-cnt-2 , .contactus-cnt-3
{
margin-left: 20px;
display: inline-block;
margin-top: -20px;
margin-left: 50px;
}

.head123
{
    display: inline-block;
}